target
*.iws
*.ipr
*.iml
.classpath
.project
.settings
.springBeans
.idea
classes/
lib/
rest-assured-all/dependency-reduced-pom.xml

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders